.todolist-item__toggle {
  border: none;
  border-radius: 4px;
  padding: 0;
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
  background: #fff url(../../../images/timer_icon.svg) no-repeat center;
  object-fit: cover;
  object-position: center;
  opacity: 1;
}

.todolist-item__toggle:hover {
  opacity: 0.7;
  transition: 0.3s;
}
