.todolist-form__input {
    border: none;
    padding: 0;
    padding-left: 26px;
    border-radius: 4px;
    margin-right: 20px;
    max-width: 100%;
    min-width: 180px;
    height: 100%;
    flex-grow: 1;
}

@media (max-width: 768px) {
    .todolist-form__input {
        margin-right: 10px;
    }
}