.todolist-counter__input {
  border: none;
  width: 20px;
  border-radius: 4px;
  background-color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .todolist-counter__input {
    width: 18px;
    font-size: 14px;
    line-height: 20px;
  }
}
